body
{
    margin: 100px;
    background-color: black;
}
      

#exercicio7
{
    background-color: #565656; 
    text-align: center;
    border: 5px solid white;
    border-radius: 20px;
	width: 20%;
    margin: 0 auto;
    padding: 50px;
}