body
{
    margin: 100px;
    background-color: black;
}

#exercicio3
{
    background-color: #565656; 
    text-align: center;
    border: 5px solid white;
    border-radius: 20px;;
    margin: 0 auto;
    width: 15%;
    padding: 35px;  
}